<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UltimateTacticsDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UltimateTacticsDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UltimateTacticsDesigner.Properties.Settings>
            <setting name="PitchWidth" serializeAs="String">
                <value>37</value>
            </setting>
            <setting name="PitchLength" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="EndzoneDepth" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="BrickDistance" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="BrickRadius" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="PlayerDiameter" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PitchColor" serializeAs="String">
                <value>0, 64, 0</value>
            </setting>
            <setting name="MaxDiscSpeed" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MinDiscSpeed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DefaultDiscSpeed" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="MaxPlayerSpeed" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MinPlayerSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultPlayerSpeed" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="LineColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="VersionServer" serializeAs="String">
                <value>http://DaveTCode.github.com/Ultimate-Tactics-Designer/currentVersion.txt</value>
            </setting>
            <setting name="DownloadServer" serializeAs="String">
                <value>http://DaveTCode.github.com/Ultimate-Tactics-Designer</value>
            </setting>
        </UltimateTacticsDesigner.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <UltimateTacticsDesigner.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>1.0.0</value>
            </setting>
            <setting name="LastVersion" serializeAs="String">
                <value>1.0.0</value>
            </setting>
            <setting name="ShowUpgradeDialog" serializeAs="String">
                <value>True</value>
            </setting>
        </UltimateTacticsDesigner.Properties.Settings>
    </userSettings>
</configuration>